html, body {
	font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    margin: 0
}
.page{
    position: relative;
    text-align: center;
}
.top{
    height: 120px;
    width: 80%;
    max-width: 900px;
    min-width: 780px;
    background-color: rgb(161, 161, 161);
    display: inline-block;
    margin: 0 auto;
}
.fon{
    width: 80%;
    min-height: 700px;
    max-width: 900px;
    min-width: 780px;
    display: inline-block;
    margin: 0 auto;
    background-position: center;
    background-image: url(img/txt_fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14pt;
}
.txt_left{
    position: relative;
    text-align: left;
    min-width: 40%;
    max-width: 40%;
    margin-left: 2%;
    margin-top: 1px;
    font-weight: 600;
    line-height: 1.45;
    float: left;
}
.txt_rigth{
    position: relative;
    text-align: left;
    float: left;
    margin-left: 13%;
    line-height: 1.44;
    margin-top: 1px;
}
input {
    float: left;
    margin-left: 10%;
    font-size: 14pt;
    max-width: 30%;
}
span {
    float: left;
    text-align: center;
    font-size: 10pt;
    margin-top: 1px;
    cursor: pointer;
    background-color: azure;
    padding: 5px;
    margin-left: 5px;
    transition: 0.1s;
}
span:hover{
    background-color: rgb(34, 177, 58);
}
span.dell{
    background-color: rgb(145, 145, 145);
    margin-left: 0;
    margin-right: 10px;
    margin-top: 2px;
    padding: 1px;
    color: brown;
    font-weight: 600;
}
span.dell:hover{
    background-color: rgb(199, 15, 15);
    color: rgb(255, 255, 255)
}
ul {
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
ul li.select {
    color: rgb(18, 192, 12);
}
ul li:hover{
    color: rgb(252, 197, 44);
}
ul li.chek{
    color: rgb(44, 143, 74);
    font-weight: 500;
    text-decoration: line-through;
}
ul.taskLi{
    color: rgb(201, 31, 31);
    font-weight: 600;
}